@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>


        .Home {
            background-color: yellow;
            border-radius: 12px;
            font-family: Arial;
            text-align: center;
        }
    </style>




</head>

<body style="background-image: url('../Images/BK1.png'); background-repeat: no-repeat; background-size: 100% 100%">





    <div class="Home">

        <h1 style="text-align:center;">Welcome to Legacy verses web application</h1>

      

    </div>

    <br />

    <div class="Home">

        
        <p1 style="text-align:center;">
            If you feeling down and need inspiration through the word of god this is the right website for you.

            <br />
            <br />

            feel at home
        </p1>

    </div>















</body>
</html>