@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>


        .Script {
            background-color: yellow;
            border-radius: 12px;
            font-family: Arial;
            text-align:center;
     
        }
    </style>




</head>

<body style="background-image: url('../Images/BK1.png'); background-repeat: no-repeat; background-size: 100% 100%">






    <div class="Script">

        <h5 style="color: black; text-align:center;"> Hebrews 11:1</h5>

        <p1>
            Now faith is confidence in what we hope for and assurance about what we do not see.
            <br />
            <br />
        </p1>

    </div>


 


    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> James 2:26</h5>

        <p1 style="color: black; text-align:center;">
            As the body without the spirit is dead, so faith without deeds is dead.
            <br />
            <br />
        </p1>

    </div>

    <br />


    <div class="Script">

        <h5 style="color: black; text-align:center;">Proverbs3:5</h5>

        <p1>
            Trust in the LORD with all your heart and lean not on your own understanding.
            <br />
            <br />
        </p1>

    </div>

    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Luke 1:37</h5>

        <p1>
            For no word from God will ever fail.
            <br />
            <br />
        </p1>

    </div>

    <br />
    <div class="Script">

        <h5 style="color: black; text-align:center;"> Romans 8:28</h5>

        <p1>
            And we know that in all things God works for the good of those who love him, who have been called according to his purpose.
            <br />
            <br />
        </p1>

    </div>
    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> John 3:16</h5>

        <p1>
            For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life.
            <br />
            <br />
        </p1>

    </div>











</body>
</html>