@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>


        .Script {
            background-color: yellow;
            border-radius: 12px;
            font-family: Arial;
            text-align: center;
        }

      
    </style>




</head>

<body style="background-image: url('../Images/BK1.png'); background-repeat: no-repeat; background-size: 100% 100%">





    <div class="Script">

        <h5 style="color: black; text-align:center;"> Isaiah 55:7</h5>

        <p1>
            Let the wicked forsake their ways and the unrighteous their thoughts. Let them turn to the LORD, and he will have mercy on them, and to our God, for he will freely pardon.
            <br />
            <br />
        </p1>

    </div>

    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Proverbs 28:13</h5>

        <p1>
            Whoever conceals their sins does not prosper, but the one who confesses and renounces them finds mercy.
            <br />
            <br />
        </p1>

    </div>

    <br />


    <div class="Script">

        <h5 style="color: black; text-align:center;"> Psalm 32:5</h5>

        <p1>
            Then I acknowledged my sin to you and did not cover up my iniquity. I said, “I will confess my transgressions to the LORD.” And you forgave the guilt of my sin.
            <br />
            <br />
        </p1>

    </div>

    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Ephesians 4:31</h5>

        <p1>
            Get rid of all bitterness, rage and anger, brawling and slander, along with every form of malice.
            <br />
            <br />
        </p1>

    </div>

    <br />
    <div class="Script">

        <h5 style="color: black; text-align:center;"> John 1:9</h5>

        <p1>
            If we confess our sins, he is faithful and just and will forgive us our sins and purify us from all unrighteousness.
        </p1>

    </div>
    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Acts 3:19</h5>

        <p1>
            Repent, then, and turn to God, so that your sins may be wiped out, that times of refreshing may come from the Lord,
        </p1>

    </div>











</body>
</html>