@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>


        .Script {
            background-color: yellow;
            border-radius: 12px;
            font-family: Arial;
            text-align: center;
        }
    </style>




</head>

<body style="background-image: url('../Images/BK1.png'); background-repeat: no-repeat; background-size: 100% 100%">





    <div class="Script">

        <h5 style="color: black; text-align:center;"> John 4:19 </h5>

        <p1>
            We love because He first loved us.
            <br />
            <br />
        </p1>

    </div>

    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> John 4:16</h5>

        <p1>
            And so we know and rely on the love God has for us. God is love. Whoever lives in love lives in God, and God in them.
            <br />
            <br />

</div>

    <br />


    <div class="Script">

        <h5 style="color: black; text-align:center;"> Romans 12:9</h5>

        <p1>
            Love must be sincere. Hate what is evil; cling to what is good.
            <br />
            <br />
        </p1>

    </div>

    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Romans 12:10</h5>

        <p1>
            Be devoted to one another in love. Honor one another above yourselves.
            <br />
            <br />
        </p1>

    </div>

    <br />
    <div class="Script">

        <h5 style="color: black; text-align:center;"> 1 Peter 4:8</h5>

        <p1>
            Above all, love each other deeply, because love covers over a multitude of sins.
            <br />
            <br />
        </p1>

    </div>
    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Ephesians 4:2</h5>

        <p1>
            Be completely humble and gentle; be patient, bearing with one another in love.
            <br />
            <br />
        </p1>

    </div>











</body>
</html>