@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>


        .Script {
            background-color: yellow;
            border-radius: 12px;
            font-family: Arial;
            text-align: center;
        }
    </style>




</head>

<body style="background-image: url('../Images/BK1.png'); background-repeat: no-repeat; background-size: 100% 100%">





    <div class="Script">

        <h5 style="color: black; text-align:center;"> Psalms 75:2</h5>

        <p1>
            You say, “I choose the appointed time; it is I who judge with equity.
            <br />
            <br />
        </p1>

    </div>

    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Jeremiah 29:11</h5>

        <p1>
            For I know the plans I have for you,” declares the LORD, “plans to prosper you and not to harm you, plans to give you hope and a future.
            <br />
            <br />
        </p1>

    </div>

    <br />


    <div class="Script">

        <h5 style="color: black; text-align:center;"> Proverbs 18:15</h5>

        <p1>
            A hot-tempered person stirs up conflict, but the one who is patient calms a quarrel.
            <br />
            <br />
        </p1>

    </div>

    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Genesis 29:20</h5>

        <p1>
            So Jacob served seven years to get Rachel, but they seemed like only a few days to him because of his love for her.
            <br />
            <br />
        </p1>

    </div>

    <br />
    <div class="Script">

        <h5 style="color: black; text-align:center;"> Galatians 6:9</h5>

        <p1>
            Let us not become weary in doing good, for at the proper time we will reap a harvest if we do not give up.
            <br />
            <br />
        </p1>

    </div>
    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Eccesiastes 7:9</h5>

        <p1>
            Do not be quickly provoked in your spirit, for anger resides in the lap of fools.
            <br />
            <br />
        </p1>

    </div>











</body>
</html>








