@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>


        .Script {
            background-color: yellow;
            border-radius: 12px;
            font-family: Arial;
            text-align: center;
        }
    </style>




</head>

<body style="background-image: url('../Images/BK1.png'); background-repeat: no-repeat; background-size: 100% 100%">





    <div class="Script">

        <h5 style="color: black; text-align:center;"> Proverbs 16:7</h5>

        <p1>
            When a man’s ways please the LORD, He makes even his enemies to be at peace with him.
            <br />
            <br />
        </p1>

    </div>

    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> John 14:27</h5>

        <p1>
            Peace I leave with you, My peace I give to you; not as the world gives do I give to you. Let not your heart be troubled, neither let it be afraid.
            <br />
            <br />
        </p1>

    </div>

    <br />


    <div class="Script">

        <h5 style="color: black; text-align:center;"> Isaiah 26:3</h5>

        <p1>
            You will keep him in perfect peace, whose mind is stayed on You, because he trusts in You.
            <br />
            <br />
        </p1>

    </div>

    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Add the chapter and verse number</h5>

        <p1>
            Add your bible verses that are related to the category here
            <br />
            <br />
        </p1>

    </div>

    <br />
    <div class="Script">

        <h5 style="color: black; text-align:center;"> Number 6:26</h5>

        <p1>
            The LORD lift up His countenance upon you, and give you peace.
            <br />
            <br />
        </p1>

    </div>
    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Psalms 4:8</h5>

        <p1>
            I will both lie down in peace, and sleep; for You alone, O LORD, make me dwell in safety.
            <br />
            <br />
        </p1>

    </div>











</body>
</html>
 