@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>


        .Script {
            background-color: yellow;
            border-radius: 12px;
            font-family: Arial;
            text-align: center;
        }
    </style>




</head>

<body style="background-image: url('../Images/BK1.png'); background-repeat: no-repeat; background-size: 100% 100%">





    <div class="Script">

        <h5 style="color: black; text-align:center;"> Timothy 1:7</h5>

        <p1>
            For the Spirit God gave us does not make us timid, but gives us power, love and self-discipline.
            <br />
            <br />
        </p1>

    </div>

    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Chronicles 16:11 </h5>

        <p1>
            Look to the Lord and his strength; seek his face always.
            <br />
            <br />
        </p1>

    </div>

    <br />


    <div class="Script">

        <h5 style="color: black; text-align:center;"> Joshua 1:9</h5>

        <p1>
            Have I not commanded you? Be strong and courageous. Do not be afraid; do not be discouraged, for the Lord your God will be with you wherever you go."
            <br />
            <br />
        </p1>

    </div>

    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Psalm 118:14</h5>

        <p1>
            The Lord is my strength and my defense ; he has become my salvation.
            <br />
            <br />
        </p1>

    </div>

    <br />
    <div class="Script">

        <h5 style="color: black; text-align:center;"> Proverbs 18:10</h5>

        <p1>
            The name of the Lord is a fortified tower; the righteous run to it and are safe.
            <br />
            <br />
        </p1>

    </div>
    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Daniel 10:19</h5>

        <p1>
            Do not be afraid, you who are highly esteemed," he said. "Peace! Be strong now; be strong." When he spoke to me, I was strengthened and said, "Speak, my lord, since you have given me strength
            <br />
            <br />
        </p1>

    </div>











</body>
</html>