@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>


        .Script {
            background-color: yellow;
            border-radius: 12px;
            font-family: Arial;
            text-align: center;
        }
    </style>




</head>

<body style="background-image: url('../Images/BK1.png'); background-repeat: no-repeat; background-size: 100% 100%">





    <div class="Script">

        <h5 style="color: black; text-align:center;"> Mark 11:24</h5>

        <p1>
            Therefore I tell you, whatever you ask in prayer, believe that you have received it, and it will be yours.
            <br />
            <br />
        </p1>

    </div>

    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Psalm 13:5</h5>

        <p1>
            But I have trusted in your steadfast love; my heart shall rejoice in your salvation.
            <br />
            <br />
        </p1>

    </div>

    <br />


    <div class="Script">

        <h5 style="color: black; text-align:center;"> Proverbs 3:5-6</h5>

        <p1>
            Trust in the Lord with all your heart, and do not lean on your own understanding. In all your ways acknowledge him, and he will make straight your paths.
            <br />
            <br />
        </p1>

    </div>

    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> Psalm 40:4</h5>

        <p1>
            Blessed is the man who makes the Lord his trust, who does not turn to the proud, to those who go astray after a lie!
            <br />
            <br />
        </p1>

    </div>

    <br />
    <div class="Script">

        <h5 style="color: black; text-align:center;"> Isaiah 26:3-4</h5>

        <p1>
            You keep him in perfect peace whose mind is stayed on you, because he trusts in you. Trust in the Lord forever, for the Lord God is an everlasting rock.
            <br />
            <br />
        </p1>

    </div>
    <br />

    <div class="Script">

        <h5 style="color: black; text-align:center;"> 1 John 4:18</h5>

        <p1>
            There is no fear in love, but perfect love casts out fear. For fear has to do with punishment, and whoever fears has not been perfected in love.
        </p1>

    </div>











</body>
</html>